/* font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 3px;
    background-color: whitesmoke;
}
.First-vew, .common-part{
    margin: 30px;
}
.IPC-font-size{
    font-size: 25px;
}
nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 1.3em;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Top-div{
    display: flex;

}
.Top-div-h1{
    font-size: 50px;
}
.top-div1{
    width: 50%;
    
}
button{
    background-color: #E02C6D;
    color: white;
    width: 196px;
    height: 44px;
    border-radius: 20px;
    border: 0;
}
.top-image{
    margin: 0 auto;
    background-color: rgb(229, 234, 235);
    transition: width 1s, height 1s,transform 3s;
    border-radius: 100%;
}
.top-image:hover{
    
    transform: rotate(180deg);
}

.logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #f1ebeb;
    border-left: none ;
    border-right: none;
    padding: 30px;
    margin-left: 5%;
}
.logo img{
    margin-right: 30px;
}
.text-posi{
    text-align: center;
    margin-top: 50px;
}
.Container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px  ;
    margin: 30px;
    
}
.font-col{
    font-family: 'Roboto', sans-serif;
}
.fa-star.filled{
    color: #FFC014;;
}
.fa-star.empty{
    color: rgb(172, 166, 166);
}
.Collection{
    border: 1px solid white ;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    margin: 15px;
}
.Collection img{
    width: 100%;
}
.see-more a{
    text-decoration: none;
    color:#E02C6D;
    position: absolute;
    right: 0;


}


.contact{
    width: 50%;
    margin: 100px auto;         
}
.contact-section{
    font-family: 'Poppins', sans-serif;
    color: #681919;
    text-align: center;
}
.contact-section h3{
    color: #d14444;
}

.input-btn{
    height: 30px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
.txtarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
}
.Submit-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    width: 196px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding: 30px;
}
.footer-bg{
    background-color: #0A0826;
    width: 100%;
    height: 240px;
    padding: 3px;
    margin: none;
    
}
.all-text{
    color: white;
    text-align: center;
}
.icon-link{
    color: white;
    background-color: rgb(79, 90, 90);
    border-radius: 100%;
    padding: 7px;
    
}
/* Media Queries */
/* Mobail Devaices */
@media only screen and (max-width:576px){
    .Container, .common-fart{
        width: 90%;
    }
    .Top-div, .logo, .Container{
        grid-template-columns: repeat(1, 1fr);
    }
    .Top-div{
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .IPC-font-size{
        font-size: 10px;
    }
    .Collection img{
        width: 70%;
    }
    .top-image img{
        width: 80%;
    }
}
/* Tablait Devaices */
 @media only screen and (min-width:577px) and (max-width:768px){
    .Container, .common-fart{
        width: 100%;
    }
    .Top-div, .logo, .Container{
        grid-template-columns: repeat(2, 1fr);
    }
    .Top-div{
        flex-direction: column;
    }
}