/* font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 120px;
    background-color: whitesmoke;
}
.IPC-font-size{
    font-size: 10px;
}
nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 1.3em;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Top-div{
    display: flex;
    margin-top: 30px;
}
.Top-div-h1{
    font-size: 50px;
}
.top-div1{
    width: 50%;
    
}
button{
    background-color: #E02C6D;
    color: white;
    width: 196px;
    height: 44px;
    border-radius: 20px;
    border: 0;
}
.logo{
    padding: 20px;
    border: 1px solid #f1ebeb;
    text-align: center;
    justify-content: center;
    border-left: none ;
    border-right: none;
    

}
.logo img{
    margin-right: 30px;
}
.text-posi{
    text-align: center;
    margin-top: 50px;
}
.Container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px  ;
    margin: 30px;
    
}
.font-col{
    font-family: 'Roboto', sans-serif;
}
.fa-star.filled{
    color: #FFC014;;
}
.fa-star.empty{
    color: rgb(172, 166, 166);
}
.Collection{
    border: 1px solid white ;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    margin: 15px;
}
.see-more{
    text-decoration: none;
    color:#E02C6D ;
    text-align: right;

}
.footer-bg{
    background-color: #0A0826;
    height: 240px;
    padding: 5px;
    
}
.fo-te{
    color: white;
    text-align: center;
}
